<!DOCTYPE html>
<html>
    <head>
        <% include ../head %>
    </head>
    <body background="/images/Football-sideline.jpg">
        <!-- navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Second String</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- navigation tabs -->
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li><a href="/">Home</a></li>
                        <!-- Football -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Football
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/football/players">Player Stats</a>
                                <a href="/football/teams">Team Stats</a>
                                <a href="/football/games">Upcoming Games</a>
                            </ul>
                        </li>
                        <!-- Soccer -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Soccer
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/soccer/matches">Today's Matches</a>
                                <a href="/soccer/players">Players</a>
                            </ul>
                        </li>
                        <!-- Baseball -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Baseball
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/baseball/players">Players</a>
                                <a href="/baseball/teams">Teams</a>
                            </ul>
                        </li>
                    </ul>
                    <!-- end navigation tabs -->
                    <!-- search bar -->
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!-- end search bar -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- end navigation Bar -->
    
    
    <div class="selections" >
      <table style="width:25%; float:left;">
        <tr>
          <td>Position</td>
          <td><a href="javascript:updateTable('QB', arr)">QB</a></td>
          <td><a href="javascript:updateTable('WR', arr)">WR</a></td>
          <td><a href="javascript:updateTable('RB', arr)">RB</a></td>
          <td><a href="javascript:updateTable('TE', arr)">TE</a></td>
          <td><a href="javascript:updateTable('FLEX', arr)">FLEX</a></td>
        </tr>
        <tr>
          <td>Season</td>
          <td><a href="#">2017</a></td>
          <td><a href="#">2016</a></td>
          <td><a href="#">2015</a></td>
          <td><a href="#">2014</a></td>
          <td><a href="#">2013</a></td>
        </tr>
        <tr>
          <td>Week</td>
          <td><a href="#">7</a></td>
          <td><a href="#">6</a></td>
          <td><a href="#">5</a></td>
          <td><a href="#">4</a></td>
          <td><a href="#">3</a></td>
        </tr>
      </table>
      <div class="search">
        <form>
          <input type="text" name="team" id="teamSearch"><br>
          <input type="button" value="Search Team" onClick="javascript:searchTeam(arr, 'Player')">
        </form>
        </br>
        <form>
          <input type="text" name="player" id="playerSearch"><br>
          <input type="button" value="Search Player" onClick="javascript:searchPlayer(arr, 'Player')">
        </form>
      </div>
    </div>
    
    <div class="stats">
      <table id = "table" class="table table-striped table-bordered table-condensed">
        <thead class="header">
          <td><a href="javascript:sort('lastname', arr)">Name</a></td>
          <td><a href="javascript:sort('team', arr)">Team</a></td>
          <td><a href="javascript:sort('pos', arr)">Position</a></td>
          <td><a href="javascript:sort('yards', arr)">Yards</a></td>
          <td><a href="javascript:sort('passing_tds', arr)">Passing TDs</a></td>
          <td><a href="javascript:sort('passing_int', arr)">INTs</a></td>
          <td><a href="javascript:sort('rectuddies', arr)">Reception TDs</a></td>
          <td><a href="javascript:sort('rushtuddies', arr)">Rush TDs</a></td>
        </thead>
        <tbody>
        	<script>var arr= <%- JSON.stringify(data); %></script>
        	<% for(i = 0; i < data.length, i < 10; i++){ %>
	          	<tr>
	          	<!-- var id = <%- data[i].firstname; %></script> -->
	          	<!-- window.open(window.location.href + id); -->
	          	<!-- <% var id = data[i].firstname %> -->
	            <td onclick="openfun('<%=data[i]._id%>')"><%=data[i].firstname+" "+data[i].lastname %></td>
	            <td><%=data[i].team %></td>
	            <td><%=data[i].pos %></td>
	            <% if (data[i].pos == "QB") { %>
	  		  		<td><%=data[i].passing_yds %></td>
	      		  <% }else if (data[i].pos == "WR") { %>
	      		  		<td><%=data[i].receiving_yds %></td>
	      		  <% }else if (data[i].pos == "RB") { %>
	      		  		<td><%=data[i].rushing_yds %></td>
	      		  <% } else{ %>
	      		  		<td> 0 </td>
	      		  <% } %>
	            <td><%=data[i].passing_tds %></td>
	            <td><%=data[i].passing_int %></td>
	            <td><%=data[i].receiving_tds %></td>
	            <td><%=data[i].rushing_tds %></td>
	          	</tr>
        	<% } %>
        </tbody>
      </table>
    </div>
      
   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/update.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
    	function openfun(id){
    		// var path = window.location.pathname.split('/');
    		// var url = window.location.protocol + "//" + window.location.host + '/';
    		// for(i = 0; i < path.length-1; i++){ url = url + path[i] + '/' }
    		// var loc = window.location.href;
    		// console.log(loc);
    		// var loc2 = loc.split("/").pop();
    		// console.log(loc2);
    		// console.log(loc.substring(0, loc.lastIndexOf("/")+1));
    		// loc2 = loc.substring(0, loc.lastIndexOf("/")+1);
    		// console.log(loc2.substring(0, loc2.lastIndexOf("/")+1))
    		// var url = loc2.substring(0, loc2.lastIndexOf("/")+1) + "/player?id=" + id;
    		// window.open(loc2);
    		var url =window.location.protocol + "//" + window.location.host + "/football/players?id=" + id;
    		// ?id=" + id;
    		window.open(url);
    	}
    </script>
    <!-- <script>
      $(document).ready(function() {
          $('#table').DataTable( {"dom": 'lrtip'} );
      } );
    </script> -->

  </body>

</html>
