<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/table.css" rel="stylesheet"> 
  </head>
  <body>
    <ul style="margin: 0;">
      <li><a href="/">Second String</a></li>
      <li><a href="/">Player Stats</a></li>
      <li><a href="/teams">Team Stats</a></li>
      <li><a href="/games">Upcoming Games</a></li>
    </ul>

    <div class="selections" >
      <table style="width:25%; float:left;">
        <tr>
          <td>Position</td>
          <td><a href="#">QB</a></td>
          <td><a href="javascript:updateTable('WR', arr, 'Player')">WR</a></td>
          <td><a href="javascript:updateTable('RB', arr, 'Player')">RB</a></td>
          <td><a href="javascript:updateTable('TE', arr, 'Player')">TE</a></td>
          <td><a href="javascript:updateTable('FLEX', arr, 'Player')">FLEX</a></td>
        </tr>
        <tr>
          <td>Season</td>
          <td><a href="#">2016</a></td>
          <td><a href="#">2015</a></td>
          <td><a href="#">2014</a></td>
          <td><a href="#">2013</a></td>
          <td><a href="#">2012</a></td>
        </tr>
        <tr>
          <td>Week</td>
          <td><a href="#">7</a></td>
          <td><a href="#">6</a></td>
          <td><a href="#">5</a></td>
          <td><a href="#">4</a></td>
          <td><a href="#">3</a></td>
        </tr>
      </table>
      <div class="search">
        <form>
          <input type="text" name="team" id="teamSearch"><br>
          <input type="button" value="Search Team" onClick="javascript:searchTeam(arr, 'Player')">
        </form>
        </br>
        <form>
          <input type="text" name="player" id="playerSearch"><br>
          <input type="button" value="Search Player" onClick="javascript:searchPlayer(arr, 'Player')">
        </form>
      </div>
    </div>
    
    <div class="stats">
      <table id="table">
        <tr class="header">
          <td><a href="javascript:sort('name', arr, 'Player')">Name</a></td>
          <td><a href="javascript:sort('team', arr, 'Player')">Team</a></td>
          <td><a href="javascript:sort('POS', arr, 'Player')">Position</a></td>
          <td><a href="javascript:sort('gp', arr, 'Player')">Games Played</a></td>
          <td><a href="javascript:sort('recs', arr, 'Player')">Receptions</a></td>
          <td><a href="javascript:sort('yards', arr, 'Player')">Yards</a></td>
          <td><a href="javascript:sort('rectuddies', arr, 'Player')">Reception TDs</a></td>
          <td><a href="javascript:sort('rushtuddies', arr, 'Player')">Rush TDs</a></td>
        </tr>
      <script>var arr= <%- JSON.stringify(data); %></script>
      <% data.forEach(function(Player) { %>
        <% if(Player.name != "name"){ %>
        <tr>
          <td><%=Player.name %></td>
          <td><%=Player.team %></td>
          <td><%=Player.POS %></td>
          <td><%=Player.gp %></td>
          <td><%=Player.recs %></td>
          <td><%=Player.rushyards + Player.recyards %></td>
          <td><%=Player.rectuddies %></td>
          <td><%=Player.rushtuddies %></td>
        </tr>
        <% } %>
      <% }); %>
      </table>
    </div>
      
   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/update.js"></script>

  </body>

</html>
