<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/table.css" rel="stylesheet"> 
  </head>
  <body>
    <ul style="margin: 0;">
      <li><a href="/">Second String</a></li>
      <li><a href="/">Player Stats</a></li>
      <li><a href="/teams">Team Stats</a></li>
      <li><a href="about.asp">Upcoming Games</a></li>
    </ul>

    <div class="selections" >
      <table style="width:25%; float:left;">
        <tr>
          <td>Season</td>
          <td><a href="#">2016</a></td>
          <td><a href="#">2015</a></td>
          <td><a href="#">2014</a></td>
          <td><a href="#">2013</a></td>
          <td><a href="#">2012</a></td>
        </tr>
        <tr>
          <td>Week</td>
          <td><a href="#">7</a></td>
          <td><a href="#">6</a></td>
          <td><a href="#">5</a></td>
          <td><a href="#">4</a></td>
          <td><a href="#">3</a></td>
        </tr>
      </table>
      <form action="demo_form.asp" style="float:right;">
        <input type="text" name="team"><br>
        <input type="submit" value="Search Team">
      </form>
      <form action="demo_form.asp" style="float:right;">
        <input type="text" name="player"><br>
        <input type="submit" value="Search Player">
      </form>
    </div>
    
      <table>
        <tr>
          <td>Name</td>
          <td>Team</td>
          <td>Position</td>
          <td>Games Played</td>
          <td>Receptions</td>
          <td>Reception TDs</td>
          <td>Rush TDs</td>
        </tr>
      <% data.forEach(function(Team) { %>
        <tr>
          <td><input class="form-control" value="<%=Team.name %>"></td>
          <td><input class="form-control" value="<%=Team.team %>"></td>
          <td><input class="form-control" value="<%=Team.POS %>"></td>
          <td><input class="form-control" value="<%=Team.gp %>"></td>
          <td><input class="form-control" value="<%=Team.recs %>"></td>
          <td><input class="form-control" value="<%=Team.rectuddies %>"></td>
          <td><input class="form-control" value="<%=Team.rushtuddies %>"></td>
        </tr>
      <% }); %>
      </table>
      
   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>

</html>
