<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/stylesheets/navbar.css" rel="stylesheet">
        <link href="/stylesheets/table.css" rel="stylesheet">
    </head>
    <body background="/images/zUX4nJS.jpg">
        <!-- navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Second String</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- navigation tabs -->
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li><a href="/">Home</a></li>
                        <!-- Football -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Football
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/football/players">Player Stats</a>
                                <a href="/football/teams">Team Stats</a>
                                <a href="/football/games">Upcoming Games</a>
                            </ul>
                        </li>
                        <!-- Soccer -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Soccer
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/soccer/matches">Today's Matches</a>
                                <a href="/soccer/players">Players</a>
                            </ul>
                        </li>
                        <!-- Baseball -->
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Baseball
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/baseball/players">Players</a>
                                <a href="/baseball/teams">Teams</a>
                            </ul>
                        </li>
                    </ul>
                    <!-- end navigation tabs -->
                    <!-- search bar -->
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!-- end search bar -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- end navigation Bar -->
    
    
    <div class="selections" >
      <!--<table style="width:25%; float:left;">
        <tr>
          <td>Position</td>
          <td><a href="javascript:updateTable('QB', arr)">Forwards</a></td>
          <td><a href="javascript:updateTable('WR', arr)">Midfielders</a></td>
          <td><a href="javascript:updateTable('RB', arr)">Defenders</a></td>
          <td><a href="javascript:updateTable('TE', arr)">Keepers</a></td>
        </tr>
        <tr>
          <td>Season</td>
          <td><a href="#">2016</a></td>
          <td><a href="#">2015</a></td>
          <td><a href="#">2014</a></td>
          <td><a href="#">2013</a></td>
          <td><a href="#">2012</a></td>
        </tr>
        <tr>
          <td>Week</td>
          <td><a href="#">7</a></td>
          <td><a href="#">6</a></td>
          <td><a href="#">5</a></td>
          <td><a href="#">4</a></td>
          <td><a href="#">3</a></td>
        </tr>
      </table>-->
      <!--<div class="search">
        <form>
          <input type="text" name="team" id="teamSearch"><br>
          <input type="button" value="Search Team" onClick="javascript:searchTeam(arr, 'Player')">
        </form>
        </br>
        <form>
          <input type="text" name="player" id="playerSearch"><br>
          <input type="button" value="Search Player" onClick="javascript:searchPlayer(arr, 'Player')">
        </form>
      </div>-->
    </div>
    
    <div class="stats">
      <table id="table">
        <th>
            <script>
                var arr= JSON.stringify(data); 
            </script>
            Team Players
        </th>
        <tr class="header">
          <td>Name</td>
          <td>Position</td>
          <td>Number</td>
          <td>Market Value</td>
        </tr>
      <script>var arr= <%- JSON.stringify(data); %></script>
      <% for(i = 0; i < data.count; i++){%>
        <tr>
          <td><%=data.players[i].name %></a></a></td>
          <td><%=data.players[i].position%></td>
          <td><%=data.players[i].jerseyNumber%></td>
          <td><%=data.players[i].marketValue%></td>
        </tr>
      <% } %>
      </table>
    </div>
      
   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/update.js"></script>

  </body>

</html>
